//<<МИКСИНЫ>>--------------------------------------------------------------------------------
@mixin sition($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay; transition: all $time ease $delay;}
@mixin sition_cubic($time, $delay){-webkit-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55)-$delay;-o-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay; transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin skewX($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transfform: skewX($num);-o-transform: skewX($num); transform: skewX($num);}
@mixin transform($x,$y,$z,$deg,$num){-moz-transform: translate3d($x, $y, $z) rotate($deg) scale($num); -ms-transform: translate3d($x, $y, $z) rotate($deg) scale($num); -webkit-transform: translate3d($x, $y, $z) rotate($deg) scale($num); -o-transform: translate3d($x, $y, $z) rotate($deg) scale($num); transform: translate3d($x, $y, $z) rotate($deg) scale($num)}
@mixin animation ($name, $time, $duration, $type){-webkit-animation: $name $time $duration $type; -moz-animation: $name $time $duration $type;-o-animation: $name $time $duration $type; animation: $name $time $duration $type}
@mixin flexbox() {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display: flex;font-size: 0;}
//<<МИКСИНЫ>>--------------------------------------------------------------------------------

//<<ПОДКЛЮЧАЕМ ШРИФТЫ>>----------------------------------------------------------------------
@font-face {
	font-family: 'Spaceranger';
	src: url('../fonts/spacerangerlaser.eot');
	src: local('☺'), url('../fonts/spacerangerlaser.woff') format('woff'), url('../fonts/spacerangerlaser.ttf') format('truetype'), url('../fonts/spacerangerlaser.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Righteous';
	src: url('../fonts/Righteous-Regular.eot');
	src: local('☺'), url('../fonts/Righteous-Regular.woff') format('woff'), url('../fonts/Righteous-Regular.ttf') format('truetype'), url('../fonts/Righteous-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//<<ПОДКЛЮЧАЕМ ШРИФТЫ>>----------------------------------------------------------------------

//<<ПЕРЕМЕННЫЕ>>-----------------------------------------------------------------------------
$minwidht: 320px;
$mw: 1170;
$md1: $mw+12;
$md2: 1100;
$md3: 767.98;
$md4: 479.98;
$wb: 160px;
//<<ПЕРЕМЕННЫЕ>>-----------------------------------------------------------------------------

//<<ОБНУЛЕНИЕ>>------------------------------------------------------------------------------
*{padding:0px;margin:0px;border:0px;}
*, *::before, *::after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;overflow: hidden;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul, li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}
//<<ОБНУЛЕНИЕ>>------------------------------------------------------------------------------

//<<ОСНОВНАЯ СЕТКА>>-------------------------------------------------------------------------
.container {max-width: $mw+px;margin: 0 auto;width: 100%;
    @media(min-width:$md1+px){min-width: 970px;}
    @media(min-width:$md2+px){min-width: 750px;}
    @media(min-width:$md3+px){min-width:none;padding: 0 10px;}
}
//<<ОСНОВНАЯ СЕТКА>>-------------------------------------------------------------------------

//<<ПОДКЛЮЧЕНИЕ>>----------------------------------------------------------------------------

//<<ПОДКЛЮЧЕНИЕ>>----------------------------------------------------------------------------

//<<ОСНОВНОЙ БЛОК>>--------------------------------------------------------------------------
.content {
    padding: 50px 0px 0px 0px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 0px;
    transform: translate(0,-50%);
    @media (max-width: $md2+px){
        padding: 30px 0px 0px 0px;
    }
}
.body__bg{
    background: url(../img/bg.jpg) center/cover no-repeat;
    position: absolute;
    top: -5%;
    width: 120%;
    height: 120%;
}
.body-row {@include flexbox(); justify-content: center;}
.body__column {flex: 0 0 50%; flex-wrap: wrap; margin: 0px 0px 0px 40px;}
.body__title {
    font-family: 'Spaceranger';
    font-size: 105px;
    color: #6E2B2E;
    text-shadow: 0 0 2px #ffffff;
    text-align: center;
    letter-spacing: 10px;
    line-height: 100px;
    @media (max-width: $md2+px){
        font-size: 90px;
        line-height: 90px;
    }
}
.body__logo {
    margin: 20px 0px 40px 0px; 
    text-align: center;
    img {
        @media (max-width: $md2+px){
            width: 60px;
        }
    }
    @media (max-width: $md2+px){
        margin: 10px 0px 30px 0px;
    }
}
.body__text {
    font-family: 'Righteous';
    font-size: 14px;
    color: #B0ABAB;
    margin: 0px 0px 21px 0px;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: justify;
    white-space: pre-line;
    max-width: 450px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    @media (max-width: $md2+px){
        font-size: 14px;
        max-width: 450px;
        line-height: 18px;
    }
}
.body__buttons {
    @include flexbox();
    justify-content: center;
}
.buttons__button {
    width: $wb;
    height: 60px;
    margin: 10px 25px 0px 0px;
    background: rgb(89,65,67);
    @include flexbox();
    justify-content: center;
    align-items: center;
    .text{
        font-family: 'Righteous';
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        color: #F2F0E6;
        @media (max-width: $md2+px){
            font-size: 14px;
        }
    }
    @media (max-width: $md2+px){
        margin: 20px 25px 0px 0px;
    }
}
.buttons__button_drop {
    position: relative;
    display: inline-block;
    &:hover .buttons__button__drop_content {
        background: rgb(89,82,82);
        border-radius: 25px;
        display: block;
        transition-duration: 1s;
    }
}
.buttons__button__drop_content {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: $wb;
    height: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    a{
        position: relative;
        top: 50px;
    }
    @media (max-width: $md2+px){
        display: block;
        margin: 15px 0px 0px 0px;
    }
}
.register {
    position: relative;
    overflow: hidden;
    @include sition_cubic (0.8s, 0s);
    border-radius: 5px 5px 10px 10px;
    &:hover{
        border-radius: 10px;
        @include sition_cubic (0.8s, 0.1s);
        box-shadow: 0 0 10px rgba(140,102,105,0.6);
    }
    &:hover .register__waves{
        top: -50px;
    }
    &__text {
        position: relative;
        z-index: 1;
    }
    &__waves {
        position: absolute;
        width: 160px;
        height: 160px;
        background-color: #594143;
        top: 0;
        left: 0;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
        @include sition_cubic (0.8s, 0s);
        &:before, &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 250%;
            height: 250%;
            z-index: 5;
            @include transform(-50%, -96%, 0, 0deg, 1);
        }
        &:before{
            background-color: rgb(20,6,21);
            border-radius: 48%;
            @include animation(waves, 5s, infinite, linear);
        }
        &:after{
            background-color: rgba(20,6,21,0.5);
            border-radius: 42%;
            @include animation(waves, 10s, infinite, linear);
        }
    }
    @keyframes waves{
        0%{@include transform(-50%, -96%, 0, 0deg, 1);}
        100%{@include transform(-50%, -96%, 0, 360deg, 1);}
    }
    @-webkit-keyframes waves{
        0%{@include transform(-50%, -96%, 0, 0deg, 1);}
        100%{@include transform(-50%, -96%, 0, 360deg, 1);}
    }
    @-moz-keyframes waves{
        0%{@include transform(-50%, -96%, 0, 0deg, 1);}
        100%{@include transform(-50%, -96%, 0, 360deg, 1);}
    }
    @-o-keyframes waves{
        0%{@include transform(-50%, -96%, 0, 0deg, 1);}
        100%{@include transform(-50%, -96%, 0, 360deg, 1);}
    }
}

.login {

    .login__text {
    }
    .login__waves {
    }
}
.about_us {

    .about_us__text {
    }
    .about_us__waves {
    }
}
.contact {

    .contact__text {
    }
    .contact__waves {
    }
}
.planet__row {@include flexbox();}
.planet__column {
    flex: 0 0 50%;
    position: relative;
    top: 20px;
}
.planet__column_2{top: 130px;right: 40px;}
.title {
    font-family: 'Righteous';
    font-size: 30px;
    letter-spacing: 1.5px;
    position: relative;
    text-align: center;
}
.earth__img, .moon__img, .mars__img, .void__img {text-align: center;position: relative;}
.earth__img_planet, .moon__img_planet, .mars__img_planet{top: 31.5px;}
.earth__img_bg, .moon__img_bg, .mars__img_bg{bottom: 150px;z-index: -1;}
.planet__moon, .planet__void{position: relative;bottom: 110px;}
.earth__title {
    color: #546043;
    text-shadow: 0 0 0.5px #2A2876;
    bottom: 130px;
}
.moon__title {
    color: #88898D;
    text-shadow: 0 0 0.5px #565555;
    bottom: 130px;
}
.mars__title {
    color: #642B1E;
    text-shadow: 0 0 0.5px #660611;
    bottom: 20px;
    right: 5px;
}
.void__title {    
    color: #503A95;
    text-shadow: 0 0 0.5px #5510C7;
    bottom: 20px;
}
